# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Generated text files



# Proyect configurations for JetBrains IDE
.idea
*.idea
*.idea*

# Server API database files
*.db
*.db.lock

